pre, code {
  font-family: Monaco, Menlo, Consolas, "Courier New", Courier, monospace;
  font-size: 0.9em;
}

pre.inline { display: inline; }

a:link, a:visited { color: #00aa00; }

h1 {
  font-size:2em;
  line-height:1.74em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

h2 {
  color: #333;
  font-size:1.2em;
  line-height:2em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

h3 {
  color: #333;
  font-size:1em;
  line-height:2.45em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

h4 {
  color: #333;
  font-size:1em;
  line-height:2.45em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

h5 {
  color: #333;
  font-size:1em;
  line-height:2.45em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

h6 {
  color: #333;
  font-size:1em;
  line-height:2.45em;
  letter-spacing:-.03em;
  margin:0px 0px .5em 0px;
}

#header {
  position: relative;
  margin-top: 30px;
  margin-bottom: 10px;
}

li {
 margin-bottom: 5px;
}

#sidebar {
  float: right;
  position: relative;
  padding-top: 20px;
  margin-top: 20px;
}

#sidebar .top {
  margin-top: .69em;
}

.news h2 {
  text-align: center;
}

.news h2 span {
  text-align: center;
  background-color: white;
  z-index: 100;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
}

.news div {
  position: relative;
  /*top: -1.67em;*/
  top: -1.5em;
  width: 295px;
  border: 1px solid white;
  border-radius: 15px;
  -webkit-borde-radius: 15px;
  -moz-border-radius: 15px;
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.news p {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
}

#main {
  float: left;
  position: relative;
  padding-top: 20px;
  margin-top: 20px;
}

#main p {
  width: 42em;
}

#footer {
  position: relative;
  font-family: 'Droid Sans', Verdana, Arial, Helvetica, sans-serif; letter-spacing: -.03em;
  font-size: 80%; 
  padding-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #aaaaaa;
}
 
p { margin-left: 0; }
